[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "correctedAUC"]
	path = correctedAUC
	url = https://github.com/cran/correctedAUC
